@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold-primary: #facc15;
}

body {
  margin: 0;
  background-color: #000000;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #facc15;
  color: #000;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}
